# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
venv/
__pycache__/
*.py[cod]
*.pyo

# Editor
.vscode/
.idea/
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*.local
.env.local

# Build outputs
.next/
dist/
build/

# Misc
*.log
coverage/
/.cache
